.root {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.overlay {
  position: absolute;
  z-index: 1;
}

.readout {
  top: var(--gap);
  left: var(--gap);
}

.settings {
  top: var(--gap);
  right: var(--gap);
}

.midi {
  bottom: var(--gap);
  left: var(--gap);
}

.hints {
  bottom: var(--gap);
  right: var(--gap);
}

@media (max-width: 720px) {
  .hints {
    display: none;
  }
}
